<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/assets/styles/style.css" type="text/css">
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">
  <title>m7a.me - {{ page.title }}</title>
</head>
<body>
  <div class="layout">
    <header>
      <h1><a href="/">{{ site.name }}</a></h1>
      <!--<a href="/s/">Slides</a>-->
    </header>
    <section class="author">
      <a href="/about/" title="Yuki Morishita">
        <img class="avatar" src="{{ site.avatar }}">
      </a>
      <ul>
        <li><a class="icon" href="https://twitter.com/{{ site.accounts.twitter }}"><i class="icon-twitter"></i></a></li>
        <li><a class="icon" href="https://github.com/{{ site.accounts.github }}"><i class="icon-github"></i></a></li>
        <li><a class="icon" href="https://linkedin.com/pub/{{ site.accounts.linkedin }}"><i class="icon-linkedin"></i></a></li>
      </ul>
    </section>
    <section class="main">
