body {
  margin:0;
  font-family: sans-serif;
  font-size: 0.854em;
  color: #333;
  background-color: #fefefe;
}

a, a:visited {
  color: #559ABB;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

pre > code {
    padding: 10px;
    width: 600px;
    background-color: #fefefe;
    display: block;
    overflow: scroll;
}

header {
  padding: 0 20px;
  background-color: #fefefe;
  text-align: right;
}
header > h1 {
  letter-spacing: -2px;
  height: 60px;
  line-height: 60px;
}
header > h1 a {
  color: #333;
  text-decoration: none;
}
header > h1 a:visited {
  color: #333;
  text-decoration: none;
}
header > h1 a:hover {
  color: #333;
  text-decoration: none;
}

a.icon, a.icon:visited {
  color: #333;
  text-decoration: none;
}
a.icon:hover {
  color: #559ABB;
  text-decoration: none;
}
.layout {
  width: 900px;
  margin: 50px auto;

  display: -ms-flexbox;
  -ms-box-orient: horizontal;

  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
}

.no-flexbox .layout {
  display: -webkit-box;
  display: -moz-box;

  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
}

.main {
  margin: 0 10px;
  padding: 33px 20px;
  width: 650px;
  background: #fbfcfb;
}

.author {
  padding: 10px;
  background-color: #fefefe;

  -webkit-box-ordinal-group: 2;
  -moz-box-ordinal-group: 2;
  -ms-flex-order: 2;
  -webkit-order: 2;
  order: 2;
}

.author > ul {
  display: flex;
  display: -webkit-flex;
  width: 100%;
  list-style-type: none;
  padding: 0;
}
.no-flexbox .author > ul {
  display: -webkit-box;
  display: -moz-box;

  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
}
.author > ul > li {
  width: 33%;
  text-align: center;
}

/* rounded profile image */
.avatar {
  width: 60px;
  height: 60px;
  background-color: #fff;
  border: solid 3px #fff;

  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;;

  -webkit-box-shadow: 0 1px 0 rgba(0,0,0, .2);
  -moz-box-shadow: 0 1px 0 rgba(0,0,0, .2);
  box-shadow: 0 1px 0 rgba(0,0,0, .2);
}

article h2 {
  margin-top: 0;
  margin-bottom: 0;
}
article .date {
  color: #aaa;
  font-size: 0.8em;
  text-transform: uppercase;
}
article.posts {
   margin-bottom: 15px;
}
article.posts:last-child {
   margin-bottom: 0;
}
article.posts .continue {
  color: #aaa;
  font-size: 0.8em;
}
article.post .content {
  margin-top: 1em;
}

@media only screen and (max-width: 900px) {
  .author {
    display: none;
  }
  .layout {
    width: 100%;
    margin: auto;
    -webkit-flex-flow: column;
    flex-flow: column;
  }
  .no-flexbox .layout {
    display: -webkit-box;
    display: -moz-box;

    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
  }
  header {
    text-align: left;
  }
  header h1 {
    height: 1.5em;
  }
  pre > code {
    width: 90%;
  }
  .main {
    width: 100%;
  }
}
